/*///////// RESPONSIVE BREAKPOINTS /////////*/

/*1200px*/
@media only screen and (max-width: 1200px){
    .budget__title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .budget__value {
        font-size: 40px;
        margin-bottom: 15px;
    }
}

/*1000px*/
@media only screen and (max-width: 1000px){
    .container {
        width: 850px;
    }

    .income {
        float: left;
        width: 400px;
        margin-right: 50px;
    }

    .expenses {
        float: left;
        width: 400px;
    }
}

/*850px*/
@media only screen and (max-width: 850px){
    .container {
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .income {
        margin-right: 0;
        margin-bottom: 50px;  
    }
}

/*680px*/
@media only screen and (max-width: 680px){
    .add__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .add__type,
    .add__description,
    .add__value{
        margin-right: 0;
        margin-bottom: 10px;
    }

    .add__description { width: 350px;}

    .add__btn{
        margin-left: 0;
    }
}

/*500px*/
@media only screen and (max-width: 500px){
    .income {
        width: 350px;
    }

    .expenses {
        width: 350px;
    }
}